section {
    margin-bottom: 5em;
}

.half_width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

#flexible_container {
    display: flex;
    width: 100%;
}

.about_me {
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#aboutMe_pic {
    position: relative;
    bottom: 0;
    top: 44px;
}

h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Poppins', sans-serif;
    color: #575757;
    line-height: 130%;
    letter-spacing: -2%;
}

.half_width img {
    width: 100%;
}

.half_width p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Poppins', sans-serif;
    color: #828282;
    line-height: 160%;
    letter-spacing: -2%;
    margin-bottom: 85px;
}

.half_width a {
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    padding: 25px 58px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 800;
}

.orange_color {
    color: #FC8F49;
}

.order_description {
    padding-top: 8%;
}

.order_food {}